<!DOCTYPE html>
    <head>
        <title> HW4 </title>
        <link rel="stylesheet" href = '../style/css/style.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="../engine/script.js">    </script>
    </head>
    <body>
       <h1>HW4</h1>
        <div id="gallery">
            
            {% for item in data %}
            <div id="small_photo">
                    <img src='{{ item.img_small }}' alt='{{item.name}}' >  
                
            </div>
               
            {% endfor %}
        </div>
    
        
    </body>
</html>